body{
    background-color: #2966c2;
}

.selector-image{
    display: none;
    margin: 10px;
}

.selector-image, #move-title1, #move-title2, #move-title3, #move-title4, #move-title5, #move-title6{
    display: none;
    margin-top: 10px;
}

#pkmn1, #pkmn2, #pkmn3, #pkmn4, #pkmn5, #pkmn6, .team, .pokemon{
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
}

.team-name{
    font-size: 28px; 
    color: black;
}

.team-user{
    color: black;
}

.point-counter{
    font-weight: bold;
    margin: 10px;
}

.point-total{
    font-weight: bold;
    margin-top: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-align: center;
}

#index-head{
    text-align: center;
}

.build-anchor{
    color: white;
    background-color: #007bff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-align: center;
}

.outer-text{
    color: white;
}

#order-selector{
    margin: 20px;
}

.like-button{
    margin-left: 10px;
    margin-bottom: 10px;
}

.strategy{
    margin-left: 10px;
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.outer-link{
    color: darkblue;
}

.pokemon-name{
    font-size: 28px;
}

.listed-pokemon{
    margin: 10px;
}