{% extends "teambuilder/layout.html" %}

{% load static %}

{% block title %} Team Search - Poketeams {% endblock %}

{% block script %}
    <script src="{% static 'teambuilder/team_list.js' %}"></script>
    <script src="{% static 'teambuilder/pokemon.js' %}"></script>
    <script src="{% static 'teambuilder/like.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 id="search-title" data-id="{{number}}"></h1>

    <select id="order-selector">
        <option selected value="most-popular">Show me the most popular teams first</option>
        <option value="newest">Show me the newest teams first</option>
        <option value="oldest">Show me the oldest teams first</option>
    </select>
    <div class="container" id="teams" data-authenticated="{{user.is_authenticated}}"> </div>

{% endblock %}