{% extends "teambuilder/layout.html" %}

{% load static %}

{% block title %} {{user.username}} - Poketeams {% endblock %}

{% block script %}
    <script src="{% static 'teambuilder/team_list.js' %}"></script>
    <script src="{% static 'teambuilder/profile.js' %}"></script>
{% endblock %}

{% block body %}
    <h2 id="username" data-id="{{user.id}}">{{user.username}}</h2>

    <img height="250" width="250" src="https://pokeres.bastionbot.org/images/pokemon/{{user.favorite_pokemon.number}}.png">

    <select id="order-selector">
        <option selected value="most-popular">Show me the most popular teams first</option>
        <option value="newest">Show me the newest teams first</option>
        <option value="oldest">Show me the oldest teams first</option>
    </select>
    <div class="container" id="teams"></div>

{% endblock %}