{% extends "teambuilder/layout.html" %}

{% load static %}

{% block title %} {{profile_user.username}} - Poketeams {% endblock %}

{% block script %}
    <script src="{% static 'teambuilder/team_list.js' %}"></script>
    <script src="{% static 'teambuilder/profile.js' %}"></script>
    <script src="{% static 'teambuilder/like.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 id="username" class="outer-text" data-id="{{profile_user.id}}">{{profile_user.username}}</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12"> 
                <img height="250" width="250" class="center-image" src="https://pokeres.bastionbot.org/images/pokemon/{{profile_user.favorite_pokemon.number}}.png">
            </div>
            <div class="col-lg-6 col-sm-12">
                {% if points == 1 %}
                    <h4 class="point-total" data-count="{{points}}"> 1 Point </h4>
                {% else %}
                    <h4 class="point-total" data-count="{{points}}"> {{points}} Points </h4>
                {% endif %}
            </div>
        </div>
    </div>

    

    <select id="order-selector">
        <option selected value="most-popular">Show me the most popular teams first</option>
        <option value="newest">Show me the newest teams first</option>
        <option value="oldest">Show me the oldest teams first</option>
    </select>
    <div class="container" id="teams" data-authenticated="{{user.is_authenticated}}"> </div>

{% endblock %}