{% extends "teambuilder/layout.html" %}

{% load static %}

{% block title %} Stats - Poketeams {% endblock %}


{% block script %}
     <script src="{% static 'teambuilder/stats.js' %}"></script>
{% endblock %}

{% block body %}
    <h1 class="outer-text"> Top 10 Most Used Pokemon </h1>
   
    <div class="input-group mb-3">
        <select class="form-control" name="pokemon_selector" id="pokemon_selector">
            <option disabled selected value="">Search for all teams that use a specific Pokemon</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-primary" id="search-button"> Search </button>
        </div>
      </div>
    <ol>
        {% for pkmn in pokemon %}
            <div class="container pokemon">
                <li class="listed-pokemon">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12 pokemon-data">
                            <a class="pokemon-name" data-id="{{pkmn.number}}" href="/pokemon/{{pkmn.number}}"></a>
                            <p> Used in {{pkmn.count}} teams.</p>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <img  height="250" width="250" class="center-image" src="https://pokeres.bastionbot.org/images/pokemon/{{pkmn.number}}.png">
                        </div>
                    </div>
                </li> 
            </div>
             
        {% endfor %}
    </ol>
{% endblock %}
